.ng-panorama-container {
    overflow: hidden;
    background-size: cover;
}

ul.ng-panorama-slides {
    position: relative;
    white-space: nowrap;
    overflow: visible;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    padding: 0;
    margin: 0;
}

ul.ng-panorama-slides > li {
    white-space: normal;
    vertical-align: top;
    display: inline-block;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
}
